# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs
*.vcxproj.user

# Build folders
/src/Win32
/src/x64
/src/out
/src/build

# Autogeneratd
/src/gitrev.h
/src/FileSystemUtilTest.h
/src/CMakeCache.txt
/src/FileSystemUtil.h

# Don't show changes when compiling for Linux
/src/thirdparty/arapi/*
